APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/Shanghai[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = ntp_dianjiUSERNAME = rootPASSWORD = 5354f11643895df3HOSTPORT = 3306CHARSET = utf8DEBUG = truePREFIX = ntp_[LANG]default_lang = zh-cn[TOKEN]#token过期时间 单位秒TOKEN_TIME = 1200000HOME_TOKEN_TIME = 1200000[REDIS]HOST = 127.0.0.1PORT = 6379pwd = 123456